<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %>
    <main>
        <% if (typeof errors != "undefined"){ %>
           
            <ul>
                <% for (let i = 0; i < errors.length; i++){ %>
                    <li>
                        <%= errors(i).msg %>
                    </li>
                <% } %>
            </ul>
        <% } %>
        <form action="/admin/create" method="POST" class ="form-box-admin" enctype="multipart/form-data">
            <h1 class="title">Crear Producto</h3>
            <br>
            <input type="text" name="name" placeholder="Nombre"value="<%= locals.oldData ? oldData.name : null%>">
            <% if (locals.errors && errors.name) { %>
                <div class="text-danger">
                   <%= errors.name.msg %>
              </div>
                <% } %>

            <textarea name="description" placeholder="Descripción"value="<%= locals.oldData ? oldData.description : null%>"></textarea>
            <% if (locals.errors && errors.name) { %>
                <div class="text-danger">
                   <%= errors.description.msg %>
              </div>
                <% } %>

            <br>
            <label>Elija una o más imágenes</label>
            <br>           
            <input type="file" name="productimage" placeholder="Imagen">

            <br>
    
            <% if (locals.errors && errors.productimage) { %>
                <div class="text-danger">
                   <%= errors.productimage.msg %>
              </div>
                <% } %>
            <input type="text" name="category" placeholder="Categoría">
            <input type="text" name="color" placeholder="Colores">
            <input type="number" name="price" placeholder="Precio">
            <input type="submit" value="Enviar">
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>