<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <main>
        <div class="flex-box">
            <div class="left">
                <div class="img">
                    <img src="/images/products/<%= products.image %>" alt="<%= products.name %>">
                </div>
            </div>

            <div class="right">
                <div class="pname"><%= products.name %></div>
                <div class="price">$<%= products.price %></div>
                <div class="quantity">
                    <p>Cantidad: </p>
                    <input type="number" min="1" max="5" value="1">
                </div>
                <p class="description">
                    <%= products.description %>
                </p>
                <div class="btn-box">
                    <button class="cart-btn">Añadir al carrito</button>
                    <button class="buy-btn">Comprar ahora</button>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>