<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %>
    <main>
        <form action="/admin/products/update/<%= producto.id %>?_method=PUT" method="POST" class ="form-box-admin edit" enctype="multipart/form-data">
            <h1 class="title">Editar Producto</h3>
                <div class="errors" style="color: red;">
                    <ul></ul>
                </div>
            <br>    
                <input type="text" name="name" placeholder="Nombre" value="<%= producto.name%>">
                <% if (locals.errors && errors.name) { %>
                    <div class="text-danger">
                       <%= errors.name.msg %>
                  </div>
                    <% } %>

            <textarea name="description" placeholder="Descripción" value="<%= producto.description%>"></textarea>
            <% if (locals.errors && errors.description) { %>
                <div class="text-danger">
                   <%= errors.description.msg %>
              </div>
                <% } %>
            
            <label>Elija una o más imágenes</label>
            
            <input type="file" name="productimage" placeholder="Imagen" value="<%= producto.productimage%>">
            <% if (locals.errors && errors.productimage) { %>
                <div class="text-danger">
                   <%= errors.productimage.msg %>
              </div>
                <% } %>

            <input type="text" name="category" placeholder="Categoría" value="<%= producto.category%>">
            <% if (locals.errors && errors.category) { %>
                <div class="text-danger">
                   <%= errors.category.msg %>
              </div>
                <% } %>

            <input type="text" name="color" placeholder="Colores" value="<%= producto.color%>">
            <% if (locals.errors && errors.color) { %>
                <div class="text-danger">
                   <%= errors.color.msg %>
              </div>
                <% } %>

            <input type="number" name="price" placeholder="Precio" value="<%= producto.price%>">
            <% if (locals.errors && errors.price) { %>
                <div class="text-danger">
                   <%= errors.price.msg %>
              </div>
                <% } %>

            <input type="submit" value="Enviar">
            </form>

            <form action="/admin/borrar/<%=producto.id %>" method="POST" class ="form-box-admin">
                <input type="submit" value="ELIMINAR PRODUCTO">
            </form>
                
    </main>
    <%- include('./partials/footer') %>
    <script>
        // Validaciones edit:

window.addEventListener("load", function(){
    let formulario = document.querySelector("form.edit");

    formulario.addEventListener("submit", function(e){
        e.preventDefault(); 
        let errors = []
        
        let campoNombre = document.querySelector("input[name='name']");

        if(campoNombre.value == ""){
            errors.push("El campo de nombre tiene que estar completo");
        } else if(campoNombre.value.length < 3){
            errors.push("El campo de nombre debe tener al menos 3 caracteres")
        }

        let campoDescripcion = document.querySelector("textarea[name='description']");

        if(campoDescripcion.value == ""){
            errors.push("El campo de descripcion tiene que estar completo");
        }

        let campoImagen = document.querySelector("input[name='productimage']")
        let extensionesPermitidas = /(http(s?):)|([/|.|\w|\s])*\.(?:jpg|gif|png|jpeg)/

        if(campoImagen.value == ""){
            errors.push("El campo de imagen tiene que estar completo")
        }else if(!extensionesPermitidas.test(campoImagen.value)){
            errors.push("Las extensiones permitidas son '.jpg', '.png', '.gif', '.jpeg'")
        }

        let campoCategoria = document.querySelector("input[name='category']");

        if(campoCategoria.value == ""){
            errors.push("El campo de categoría tiene que estar completo");
        }

        let campoColor = document.querySelector("input[name='color']")

        if(campoColor.value == ""){
            errors.push("El campo de color tiene que estar completo")
        }

        let campoPrecio = document.querySelector("input[name='price']")

        if(campoPrecio.value == ""){
            errors.push("El campo de precio tiene que estar completo")
        }
        

        if (errors.length > 0) {
            
            
            let ulErrors = document.querySelector("div.errors ul")
            ulErrors.innerHTML = "";
            for (let i = 0; i < errors.length; i++) {
                
                ulErrors.innerHTML += "<li>" + errors[i] + "</li>"
                
            }

        }else{
            this.submit()
        }
    })
})
    </script>
</body>
</html>