<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %>
    <main>
        <form action="/admin/products/update/<%= producto.id %>?_method=PUT" method="POST" class ="form-box-admin" enctype="multipart/form-data">
            <h1 class="title">Editar Producto</h3>
            <br>    
                <input type="text" name="name" placeholder="Nombre" value="<%= producto.name%>">
                <div class="<%= locals.oldData ? oldData.name : null%>"></div>
                <% if (locals.errors && errors.name) { %>
                    <div class="text-danger">
                       <%= errors.name.msg %>
                  </div>
                    <% } %>

            <input type="textarea" name="description" placeholder="Descripción" value="<%= producto.description%>">
            
            <label>Elija una o más imágenes</label>
            
            <input type="file" name="productimage" placeholder="Imagen" value="<%= producto.productimage%>">
            <input type="text" name="category" placeholder="Categoría" value="<%= producto.category%>">
            <input type="text" name="color" placeholder="Colores" value="<%= producto.color%>">
            <input type="number" name="price" placeholder="Precio" value="<%= producto.price%>">
            <input type="submit" value="Enviar">
            </form>

            <form action="/admin/borrar/<%=producto.id %>" method="POST" class ="form-box-admin">
                <input type="submit" value="ELIMINAR PRODUCTO">
            </form>
                
    </main>
    <%- include('./partials/footer') %>
</body>
</html>