<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body class="grid-container">
    <%- include('./partials/header') %> 
    <section class="banner">
        <img src="images/banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
        <section class="last-visit">
            <h3>Basado en tu última visita</h3>
            <div class="products">
                <% for (i = 0 ; i < products.length ; i++) { %>
                    <article>
                        <a href="/detalle-del-producto/<%= products[i].id %>" class="text-product"> 
                            <img src="/images/products/<%= products[i].image %>" alt="<%= products[i].model %>" class="product_img">
                            <div class="main-article">
                                <h4 class="description"><%= products[i].name %></h4>
                                <p class="price">$<%= products[i].price %></p>
                            </div>
                        </a>
                    </article>
                <% } %>
            </div>
        </section>
        <section class="offers">
            <h3>Ofertas</h3>
            <div class="products">
                <% for (i = 0 ; i < products.length ; i++) { %>
                    <article>
                        <a href="/detalle-del-producto/<%= products[i].id %>" class="text-product">
                            <img src="/images/products/<%= products[i].image %>" alt="<%= products[i].model %>" class="product_img">
                            <div class="main-article">
                                <h4 class="description"><%= products[i].name %></h4>
                                <p class="price">$<%= products[i].price %></p>
                            </div>
                        </a>
                    </article>
                <% } %>
            </div>  
        </section>
    </main>



    <%- include('./partials/footer') %> 
</body>
</html>