<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body class="formulario">
    
    <%- include('./partials/header') %> 
    <main class="main formulario-registro">
        <form action="/log-in" method="POST" class ="form-box" enctype="multipart/form-data">
            <h1 class="title">Welcome back :)</h3>
            <input type="text" name="email" placeholder="Email" value="<%= locals.oldData ? oldData.email : null%>">

            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                   <%= errors.email.msg %>
              </div>
                <% } %>

            <input type="password" name="pass" placeholder="Contraseña">
            <input type="submit" value="Enviar">
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>

